@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 --green: #245D10;

}




body {
    font-family: Urbanist;
    background-image: url(https://cdn.scratch.mit.edu/scratchr2/static/__f17a70240ea1b997b429416c7f10eabf__/images/scratch-bg.png);
    margin: 0;
}
main {
    font-size: 16px;
    margin: 0px 200px;
}
p.tagline {
    font-size: 2.5em;
}
button {
    background-color: var(--green); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: urbanist;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--green);
    position: sticky;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
.green
 {
    background-color: var(--green);
}

a {
    color: white;
}